**/.DS_Store
downloads
__pycache__
challenges/pwn/bløckkæde/code/target
challenges/pwn/bløckkæde/out
.vscode
flag.txt
challenges/forensics/photos/images
challenges/forensics/photos/challenge
challenges/forensics/isomorpholder/downloads_zip/
challenges/forensics/blur_image/result.png
challenges/reversing/LibrariansNightmare/container/backend.py
challenges/reversing/LibrariansNightmare/container/keys.txt
challenges/reversing/LibrariansNightmare/container/web.py
challenges/web/JsSchmuck/fuck.js
challenges/web/SwedishStateArchive/container/generated_repo/
node_modules
graph.png
/package-lock.json
*.sage.py
